body{
    background-color: purple;
}

div.Header{
    background-color: pink;
    padding: 20px;
    text-align: left;

}

div.layout{
    height:500px;
    width:100%;
}

div.layout:after{
    content: "";
    display: table;
    clear: both;
}

div.Panel {
    background-color: red;
    float: left;
    width: 30%;
    padding: 15px;
    height:100%;
}

div.Cal{
    background-color: blue;
    float: left;
    width: 60%;
    padding: 15px;
    height:100%;
}